body{
    background-color: #000;
    color: #fff;
    font-family: 'verdana';
    width: auto;
    height: auto;
    font-size: 24px;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 10px;
    border-radius: 5px;
    background: rgb(230, 206, 102);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slide:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px; 
    border-radius: 50px;
    background: rgb(255, 255, 255);
    cursor: pointer;
  }
