body{
    background-color: #171717;
    color: white;
    font-family: 'Baloo Bhai', cursive;
    overflow-y: auto;
}
h1{
    font-size: 70px;
}
h2{
    padding: 10px;
    font-size: 30px;
}
h2:hover{
    font-size: 35px;
    color:rgb(230, 206, 102);
}
h4{
    font-size: 25px;
}
h3{
    font-size: 30px;
    color: white;
}
a:link{
    color: white;
}
a:hover{
    text-decoration: none;
}
a:visited{
    color: white;
}
a:active{
    color: rgb(230, 206, 102);
}
.stars{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -5;
}
.center{
    text-align: center;
    justify-content: center;
}
.options{
    padding-top: 10%;
}
.options2{
    padding-top: 3%;
}
.title{
    padding-top: 8%;
}
.checkB{
    font-size: 20px;
}
.ajusteAmarelo{
    color:rgb(230, 206, 102);
    padding-top: 3%;
}
.topSpace{
    padding-top: 20px;
}